.chatmain{
    /* border: 1px solid yellow; */
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    height: 60px;
    width: 100%;
    cursor: pointer;
/* border: 1px solid black; */
}
.chatmain img{
    width: 30px;
    height: 30px;
}
.nametime{
    width: 360px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatname{
    font-size: 15px;
    font-weight: 545;
}
.lastmsg p{
    color: #5f6368;
}
.chatmain img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
